<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <joint name="camera_joint" type="fixed">
        <parent link="arm_link"/>
        <child link="camera_frame"/>
        <origin xyz="0 0 0.96" rpy="0 ${-pi/2} 0"/>
    </joint>

    <link name="camera_frame">
        <visual>
			<geometry>
				<cylinder radius = "0.05" length = "0.01"/>
			</geometry>
			<material name="red"/>
            <origin rpy = "0 0 0"/>
		</visual>
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_frame"/>
        <child link="camera_optical_frame"/>
        <origin xyz = "0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="camera_optical_frame"/>

    <gazebo reference="camera_frame">
        <sensor name="camera_sensor" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <always_on>1</always_on>
            <topic>/camera/image_raw</topic>
            <ignition_frame_id>camera_optical_frame</ignition_frame_id>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
        </sensor>
        <plugin name="camera_controller" filename="libgazebo_ros_camera_plugin.so">
            <frame_name>camera_optical_frame</frame_name>
        </plugin>
    </gazebo>
</robot>
